@using EMS.Models.ViewModels
@model DashboardViewModel

@if (TempData["msg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["msg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
    <div class="row">

        <!-- ================= LEFT : EMPLOYEE LIST ================= -->
        <div class="col-md-7">
            <div class="card shadow-sm">
                <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Company Employees</h5>
                        <input type="text" id="searchInput" class="form-control w-25"
                               placeholder="Search employee...">
                        <button class="btn btn-success">Total: @Model.Employees.Count</button>
                    </div>

                    <table class="table align-middle mt-2 " id="employeeTable">
                        <thead class="table-light">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Contact</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ITEM in Model.Employees)
                            {
                                <tr>
                                    <td>@ITEM.EmployeeId</td>
                                    <td>
                                        <img src="@ITEM.PhotoPath" width="40" height="40" style="border-radius:50%" />
                                        @ITEM.FirstName
                                    </td>
                                    <td>@ITEM.Department.DepartmentName</td>
                                    <td>
                                        @ITEM.Phone <br />
                                        <small>@ITEM.Email</small>
                                    </td>
                                    <td>
                                        <a asp-action="Add" asp-route-id="@ITEM.EmployeeId" class="btn btn-sm btn-primary">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a asp-action="Delete" asp-route-id="@ITEM.EmployeeId" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!-- ================= RIGHT : ADD EMPLOYEE FORM ================= -->
        <div class="col-md-5">

            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Add Employee</h5>
                </div>
                <div class="card-body">
                    <form asp-action="Add" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="NewEmployee.EmployeeId" />

                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3">
                        </div> <div class="row g-3">
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.FirstName" class="form-label">First Name</label>
                                <input asp-for="NewEmployee.FirstName" class="form-control" />
                                <span asp-validation-for="NewEmployee.FirstName" class="text-danger">
                                </span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.LastName" class="form-label">Last Name</label>
                                <input asp-for="NewEmployee.LastName" class="form-control" />
                                <span asp-validation-for="NewEmployee.LastName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.Email" class="form-label">Email</label>
                                <input asp-for="NewEmployee.Email" class="form-control" />
                                <span asp-validation-for="NewEmployee.Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.Phone" class="form-label">Phone</label>
                                <input asp-for="NewEmployee.Phone" class="form-control" />
                                <span asp-validation-for="NewEmployee.Phone" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.AadhaarNumber" class="form-label">Aadhaar Number</label>
                                <input asp-for="NewEmployee.AadhaarNumber" class="form-control" />
                                <span asp-validation-for="NewEmployee.AadhaarNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.PanNumber" class="form-label">Pan Number</label>
                                <input asp-for="NewEmployee.PanNumber" class="form-control" />
                                <span asp-validation-for="NewEmployee.PanNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.DateOfBirth" class="form-label">Date Of Birth</label>
                                <input asp-for="NewEmployee.DateOfBirth" type="date" class="form-control" />
                                <span asp-validation-for="NewEmployee.DateOfBirth" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.Gender" class="form-label">Gender</label>
                                <select asp-for="NewEmployee.Gender" class="form-select">
                                    <option value="">-- Select Gender --</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                                <span asp-validation-for="NewEmployee.Gender" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.DepartmentId" class="form-label">Department</label>
                                <select asp-for="NewEmployee.DepartmentId" asp-items="ViewBag.Departments" class="form-control">
                                    <option value="">-- Select Department --</option>
                                </select><br />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NewEmployee.PhotoPath"
                                       class="form-label">Upload Profile</label>
                                <input asp-for="NewEmployee.PhotoPath" name="Photo" type="file" class="form-control" placeholder="Upload Photo" />
                                <span asp-validation-for="NewEmployee.PhotoPath" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mt-4 d-flex gap-1 float-end">
                            <a asp-action="Index" class="btn btn-secondary">Back</a>

                            <button type="submit"
                                    class="btn @(Model.NewEmployee.EmployeeId == 0 ? "btn-primary" : "btn-warning")">
                                @(Model.NewEmployee.EmployeeId == 0 ? "Save" : "Update")
                            </button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        document.getElementById("searchInput").addEventListener("input", function () {
            let filter = this.value.toLowerCase();   // even 1 letter works
            let rows = document.querySelectorAll("#employeeTable tbody tr");

            rows.forEach(function (row) {
                let text = row.innerText.toLowerCase();

                if (text.indexOf(filter) > -1) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        });
    </script>
}



